@charset "UTF-8";

/* 그리드 가이드 */

/*속성으로 class가 있으면서 box로 시작하는 값을 가진 요소 선택, div인데 class속성을 가지지 않는 div 선택*/
[class^="box"],
div:not([class])
	{
	border: solid 8px #faa;
	color: #faa;
	background-color: #fee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	text-align: center;
	line-height: 200px;
	font-family: Verdata, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 40px;
	}

/*body 바로 뒤에 자식 요소가 div인데 class속성이 없으면 선택*/
body > div:not([class]) {min-height: 200px}

/class속성을 가지면서 값이 box로시작하는 요서의 바로 뒤의 자식을 선택하는데 조건은 class속성을 가지며 box로시작하는 값을 가진 녀석은
안됨*/
[class^="box"] > *:not([class^="box"]) {
	min-height: 0;
	line-height: 1.5;
	color: #000000;
	font-size: 14px;
	font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
	font-weight: normal;
	text-align: left;
	}

/*div 바로 뒤의 자식이 div이고 두가지 조건을 만족하면
 선택한다
1. class속성이 있을떄는 박스로 시작하고
2. div인데 클래스가 없는 녀석을 선택해라*/
[class^="box"] > [class^="box"],
div:not([class]) > div:not([class])
	{
	border-color: #e0e03d;
	color: #e0e03d;
	background-color: #ffe;
	}

/*class속성이 있고 값이 box로 시작하는 녀석인데 바로 뒤에 있는 자식선택하고 또 그 자식의 바로 뒤에있는 자식을 선택해라*/
[class^="box"] > [class^="box"] > [class^="box"]	{
	border-color: #aaf;
	color: #aaf;
	background-color: #eef;
	}
/*class속성이 있고 값이 box로 시작하는 녀석인데 자식, 손자에 증손자를 선택하는데, 속성이 class가지고있으면 값이 box로 시작하는 녀석이다./
[class^="box"] > [class^="box"] > [class^="box"] > [class^="box"]	{
	border-color: #afa;
	color: #afa;
	background-color: #efe;
	}



/* BOX A를 테두리로 둘러싸지 않도록 설정 */
.boxA	{border: none;
	background: none;
	line-height: normal;
	text-align: left}
